.blog-post-title {
    font-size: 1.8rem;
    font-weight: bolder;
}

.blog-post-date {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--bs-gray-600);
}

.blog-post-tags {
    font-size: 0.9rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    padding-bottom: 13px;

}

article > p {
    margin-bottom: 1px;
}


