<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Start -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Bootstrap End -->

    <!-- Prism Start -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet"/>
    <link href="style/prism-vsc-dark-plus.css" rel="stylesheet"/>
    <!-- Prism End -->

    <!-- My Style -->
    <link href="style/style.css" rel="stylesheet" />

    <title>Ido Mizrachi - iOS Dev</title>
</head>
<body>

<!-- Top navigation -->
{% include "navigation-stencil.html" %}

<!-- Posts -->

<main class="container">
    {% for post in posts %}
    {% if forloop.first %}
    <div class="row">
    {% else %}
    <div class="row mt-5">
    {% endif %}
        <div class="col">
            <div class="blog-post-title">{{ post.title }}</div>
            <div class="blog-post-date">Posted on {{ post.date }}</div>
            <div class="blog-post-tags">{% for tag in post.tags %}#{{ tag }} {% endfor %}</div>
            <article class="blog-post">
                <div>{{ post.subtitle }}</div>
                <a href="{{ post.href }}">Continue reading...</a>
            </article>
        </div>
    </div>
    {% endfor %}
</main>

<!-- Pager - Next / Previous -->
<div class="container">
    <div class="row mt-5">
        <div class="col col-md-1">
            Newer
        </div>
        <div class="col col-md-1">
            <a href="#">Older</a>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<!-- Footer -->
{% include "footer-stencil.html" %}

</body>
</html>
