<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link href="style/bootstrap-override.css" rel="stylesheet"/>

    <!-- Prism -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet"/>
    <link href="style/prism-vsc-dark-plus.css" rel="stylesheet"/>

    <title>Ido Mizrachi - iOS Dev Blog</title>
</head>
<body>
<!-- Prism -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>
<main class="container">
    <!-- Hero Header -->
    <div class="p-4 mt-4 mb-1 text-white rounded bg-dark">
        <h2 class="display-4 fst-italic">Ido Mizrachi</h2>
        <h2>iOS Developer</h2>
    </div>
    </div>

    <!-- Header Navigation -->
<!--    <header class="d-flex flex-wrap py-3 mb-4 border-bottom">-->
<!--        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--            <li><a href="index.html" class="nav-link">Articles</a></li>-->
<!--            <li><a href="tags.html" class="nav-link">Search by tags</a></li>-->
<!--            <li><a href="about.html" class="nav-link">About</a></li>-->
<!--        </ul>-->
<!--    </header>-->
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills col-12 col-md-auto mb-2">
                <li class="nav-item"><a href="index.html" class="nav-link m-1 active" aria-current="page">Articles</a></li>
                <li class="nav-item"><a href="tags.html" class="nav-link m-1">Search by tags</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link m-1">About</a></li>
            </ul>
        </header>
    </div>

    <!-- Posts -->
    <!-- Featured Posts -->
    <!--    <div class="row mb-2">-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="blog-post-row  row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">-->
    <!--                <div class="col p-4 d-flex flex-column position-static">-->
    <!--                    <strong class="d-inline-block mb-2 text-primary">World</strong>-->
    <!--                    <h3 class="mb-0">Featured postxx</h3>-->
    <!--                    <div class="mb-1 text-muted">Nov 12</div>-->
    <!--                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to-->
    <!--                        additional content.</p>-->
    <!--                    <p>hello sdfds fs dfs </p>-->
    <!--                    <a href="https://www.google.com" class="stretched-link">Continue reading</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="blog-post-row  row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">-->
    <!--                <div class="col p-4 d-flex flex-column position-static">-->
    <!--                    <strong class="d-inline-block mb-2 text-success">Design</strong>-->
    <!--                    <h3 class="mb-0">Post title</h3>-->
    <!--                    <div class="mb-1 text-muted">Nov 11</div>-->
    <!--                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to-->
    <!--                        additional content.</p>-->
    <!--                    <a href="1.html" class="stretched-link">Continue reading</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- Top Pagination -->
    <div class="row">
        <div class="column">
            <ul class="pagination">
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>

    <!-- Main page post display the header + first paragraph -->
    <div class="row p-1">
        <div class="col rounded blog-post-row">
            <article class="blog-post mt-4">
                <h2 class="blog-post-title mb-1">Sample blog post header 1</h2>
                <p class="blog-post-meta">Published on January 1, 2021</p>
                <p><h6><span class="badge bd-primary">Swift</span> <span class="badge bd-primary">iOS</span></h6></p>
                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap.
                    Basic
                    typography, lists, tables, images, code, and more are all supported as expected.</p>
                <p><a href="post.html">Continue reading...</a></p>
            </article>
        </div>
    </div>

    <div class="row p-1">
        <div class="col g-4 rounded blog-post-row">
            <article class="blog-post mt-4">
                <h2 class="blog-post-title mb-1">Sample blog post header 1</h2>
                <p class="blog-post-meta">January 1, 2021</p>
                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap.
                    Basic
                    typography, lists, tables, images, code, and more are all supported as expected.</p>
            </article>
        </div>
    </div>
    </div>
<!--    <div class="row p-1">-->
<!--        <div class="col g-4 rounded blog-post-row">-->
<!--            <article class="blog-post g-4 rounded blog-post-row">-->
<!--                <h2 class="blog-post-title mt-4">Sample blog post</h2>-->
<!--                <p class="blog-post-meta">January 1, 2021</p>-->

<!--                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap.-->
<!--                    Basic-->
<!--                    typography, lists, tables, images, code, and more are all supported as expected.</p>-->
<!--                <hr>-->
<!--                <p>This is some additional paragraph placeholder content. It has been written to fill the available-->
<!--                    space and-->
<!--                    show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the-->
<!--                    demonstration flowing, so be on the lookout for this exact same string of text.</p>-->
<!--                <h2>Blockquotes</h2>-->
<!--                <p>This is an example blockquote in action:</p>-->
<!--                <blockquote class="blockquote">-->
<!--                    <p>Quoted text goes here.</p>-->
<!--                </blockquote>-->
<!--                <p>This is some additional paragraph placeholder content. It has been written to fill the available-->
<!--                    space and-->
<!--                    show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the-->
<!--                    demonstration flowing, so be on the lookout for this exact same string of text.</p>-->
<!--                <h3>Example lists</h3>-->
<!--                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other-->
<!--                    highly-->
<!--                    repetitive body text used throughout. This is an example unordered list:</p>-->
<!--                <ul>-->
<!--                    <li>First list item</li>-->
<!--                    <li>Second list item with a longer description</li>-->
<!--                    <li>Third list item to close it out</li>-->
<!--                </ul>-->
<!--                <p>And this is an ordered list:</p>-->
<!--                <ol>-->
<!--                    <li>First list item</li>-->
<!--                    <li>Second list item with a longer description</li>-->
<!--                    <li>Third list item to close it out</li>-->
<!--                </ol>-->
<!--                <p>And this is a definition list:</p>-->
<!--                <dl>-->
<!--                    <dt>HyperText Markup Language (HTML)</dt>-->
<!--                    <dd>The language used to describe and define the content of a Web page</dd>-->
<!--                    <dt>Cascading Style Sheets (CSS)</dt>-->
<!--                    <dd>Used to describe the appearance of Web content</dd>-->
<!--                    <dt>JavaScript (JS)</dt>-->
<!--                    <dd>The programming language used to build advanced Web sites and applications</dd>-->
<!--                </dl>-->
<!--                &lt;!&ndash; rounded is defined in Bootstrap&ndash;&gt;-->
<!--                <pre><code class="language-swift">struct Hello: Helloable {-->
<!--  let hello: String-->
<!--}</code></pre>-->
<!--                <h2>Inline HTML elements</h2>-->
<!--                <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a-->
<!--                        href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer Network</a>.-->
<!--                </p>-->
<!--                <ul>-->
<!--                    <li><strong>To bold text</strong>, use <code-->
<!--                            class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.-->
<!--                    </li>-->
<!--                    <li><em>To italicize text</em>, use <code-->
<!--                            class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.-->
<!--                    </li>-->
<!--                    <pre><code class="language-swift highlighter-rouge">-->
<!--                *hello*-->
<!--                # Hello-->

<!--struct Hello {-->
<!--  func main() {-->
<!--    let c = "Hello"-->
<!--    let doub: Double = 543.54353-->
<!--    print("Do some magic")-->
<!--  }-->
<!--}-->

<!--                </code></pre>-->
<!--                    <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code-->
<!--                            class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code-->
<!--                            class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.-->
<!--                    </li>-->
<!--                    <li>Citations, like <cite>— Mark Otto</cite>, should use <code-->
<!--                            class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <del>Deleted</del>-->
<!--                        text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and-->
<!--                        <ins>inserted</ins>-->
<!--                        text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.-->
<!--                    </li>-->
<!--                    <li>Superscript <sup>text</sup> uses <code-->
<!--                            class="language-plaintext highlighter-rouge">&lt;sup&gt;</code>-->
<!--                        and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <p>Most of these elements are styled by browsers with few modifications on our part.</p>-->
<!--                <h2>Heading</h2>-->
<!--                <p>This is some additional paragraph placeholder content. It has been written to fill the available-->
<!--                    space and-->
<!--                    show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the-->
<!--                    demonstration flowing, so be on the lookout for this exact same string of text.</p>-->
<!--                <h3>Sub-heading</h3>-->
<!--                <p>This is some additional paragraph placeholder content. It has been written to fill the available-->
<!--                    space and-->
<!--                    show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the-->
<!--                    demonstration flowing, so be on the lookout for this exact same string of text.</p>-->
<!--                <pre><code>Example code block</code></pre>-->
<!--                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other-->
<!--                    highly-->
<!--                    repetitive body text used throughout.</p>-->
<!--            </article>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row p-1">-->
<!--        <article class="col blog-post g-4 rounded blog-post-row">-->
<!--            <h2 class="blog-post-title mt-4">Sample blog post</h2>-->
<!--            <h3>Remarks</h3>-->
<!--            <hr>-->
<!--            <p>-->
<!--                111Audiance: iOS developers - mid to senior level<br>What is the problem/pain:<br>Changes in code are-->
<!--                fragile<br>-->
<!--            <p class="fw-bold">What do I want to share:</p>-->
<!--            <br>Unit tests takes some time to set up and get use to<br>but when it works it saves time and prevents bugs<br>We-->
<!--            need to be able to move fast</p>-->
<!--            <p>-->
<!--                XXX<br><br></p>-->
<!--            <p>-->
<!--                XXX</p>-->
<!--            <p>-->
<!--                What we can’t do/won’t do:<br>We can not perform full ma regression testing on every feature</p>-->
<!--            <p>-->
<!--                Unit tests should run fast and test a small part of logic</p>-->
<!--            <p>-->
<!--                Meet our hero….<br>oh no…<br>conflict - changes are pain</p>-->
<!--            <p>-->
<!--                what can he do?<br>X to the rescue</p>-->
<!--            <p>-->
<!--                What did we achived - no more fear of changes</p>-->
<!--            <p>-->
<!--                https://giphy.com/gifs/fail-pyramid-collapse-PtuayrkI1dKYo</p>-->
<!--            <h2>Content</h2>-->
<!--            <p>-->
<!--                Thursday night, the phone rings someone asks for a small changes in the app<br>that should only take few-->
<!--                minutes.<br>I do it….<br>release</p>-->
<!--            <p>-->
<!--                and …. crisis</p>-->
<!--            <p>-->
<!--                luckliy we have unit tests</p>-->
<!--            <p>-->
<!--                in the end - i drank my cup of wine</p>-->
<!--            <h1>Apples and Butterflies</h1>-->
<!--            <p>-->
<!--                Our story begin on Friday night.</p>-->
<!--            <p>-->
<!--                Me and my wife got ready for a fun movie night, the pizza was hot and the wine was cold.</p>-->
<!--            <figure class="video_container">-->
<!--                <video alt="Hungry Date Night GIF by Paperless Post"-->
<!--                       src="https://media4.giphy.com/media/ZDEDeQMqjm5oOygzgb/giphy.mp4?cid=790b761150ff00760f21ffd804d0f0d369112ab1eafa031e&amp;rid=giphy.mp4&amp;ct=g"-->
<!--                       poster="https://media4.giphy.com/media/ZDEDeQMqjm5oOygzgb/giphy_s.gif?cid=790b761150ff00760f21ffd804d0f0d369112ab1eafa031e&amp;rid=giphy_s.gif&amp;ct=g"-->
<!--                       autoplay="" loop="" playsinline=""-->
<!--                       style="width: 500px; height: 500px; left: 0px; top: 0px;"></video>-->
<!--            </figure>-->

<!--            <p>-->
<!--                and then-->
<!--            <p class="fw-bold">the phone rang</p>-->
<!--            .</p>-->
<!--            <blockquote class="blockquote"><p>-->

<!--                > Hey Ido, we need this very very very small fix in the mobile app for like tomorrow morning.-->
<!--                > can you make it please, be our savior, the customer really really really need this fix…</p>-->
<!--            </blockquote>-->
<!--            <p>-->
<!--                <img src="https://media.giphy.com/media/V3TtZ4IWyVZgk/giphy.gif" alt="Puss in boots"></p>-->
<!--            <blockquote class="blockquote"><p>-->

<!--                > Well, ok I answered, I will do it right away.</p></blockquote>-->
<!--            <p>-->
<!--                I sat down by the laptop, “This doesn’t sound too complicated”, I thought to myself.</p>-->
<!--            <p>-->
<!--                <img src="https://i.ytimg.com/vi/MXcMV-d_2Js/maxresdefault.jpg" alt="One Hour Later"></p>-->
<!--            <p>-->
<!--                The issue was done, quick sanity check and release, right?</p>-->
<!--            <p>-->
<!--            <p class="fw-bold">It was a very short article if it was right</p>-->
<!--            </p>-->
<!--            <p>-->
<!--                3 Hours later the phone rang again to find out that this very very very small fix caused a big issue in-->
<!--                some area I would have never think it could effect, but it did.</p>-->
<!--            <p>-->
<!--                If only there was some way to guard us from these kind of events?<br>There is…. and luckily this story-->
<!--                is fictional, and in my daily routine I write and run Unit Tests & Automation Tests a lot.</p>-->
<!--            <p>-->
<!--                For now lets focus on Unit Tests.</p>-->
<!--            <pre><code class="language-plaintext highlighter-rouge">-->
<!--[09:35:14]: ▸ Test Succeeded-->
<!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-->
<!--|       Test Results        |-->
<!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-->
<!--| Number of tests    | 5794 |-->
<!--| Number of failures | 0    |-->
<!--+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-->

<!--</code></pre>-->
<!--            <p>-->
<!--                Yes, 5794 (at the time writing this article)</p>-->
<!--            <h2>Unit Tests, for a mobile app? Seriously, I can just test it manually in 5 minutes</h2>-->
<!--            <p>-->
<!--                This might be true if the mobile app is small, but as the app gets bigger in code base and features a-->
<!--                complete manual testing cycle can take several days.</p>-->
<!--            <p>-->
<!--                It seems to me that unit tests for mobile app are not a consensus yet.</p>-->
<!--            <p>-->
<!--                Assuming most of us already working on existing app or code base, the first challenge is adding unit-->
<!--                tests for the first time.</p>-->
<!--            <p>-->
<!--                Unit tests has some prerequisites that takes time to implement, but it doesn’t mean that the case should-->
<!--                be-->
<!--            <p class="fw-bold">all</p>-->
<!--            or <p class="fw-bold">none</p>-->
<!--            .</p>-->
<!--            <p>-->
<!--                Some of the existing code might not built for testing, and changing it might be a little tricky.<br>The-->
<!--                main pattern I use to allow components to be tested is Dependency Injection.</p>-->
<!--            <h2>But writing tests takes time</h2>-->
<!--            <p>-->
<!--                Yes, it is true.<br>Writing tests takes time, sometimes it can even take longer than the time it took to-->
<!--                write the code it is testing.<br>But it is a time well invested in the future of the code base.</p>-->
<!--            <h2>Unit Tests saves me money?</h2>-->
<!--            <p>-->
<!--                We all know that time is money.</p>-->
<!--            <p>-->
<!--                Every test we add will run in the future on every code change.<br>When an issue will be found by a unit-->
<!--                test, it is caught in an early stage of the development, what usually makes it easier to fix.<br>Comparing-->
<!--                issue found by unit tests to tracing an issue on an end-user after the app was released, or even-->
<!--                compared to feedback from the QA team unit tests are much faster to trace and fix.</p>-->
<!--            <p>-->
<!--                So unit tests saves time which also means they save money (developers / qa time has a cost).</p>-->

<!--        </article>-->
<!--    </div>-->
    <!-- Pagination -->
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination">
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</main>
<footer class="blog-footer">
    <p>I built it</p>
    <p><a href="#">Back to top</a></p>
</footer>

</body>
</html>
