<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link href="../style/bootstrap-override.css" rel="stylesheet" />

    <!-- Prism -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet"/>
    <link href="../style/prism-vsc-dark-plus.css" rel="stylesheet"/>

    <title>Ido Mizrachi - iOS Dev Blog</title>
</head>
<body>
<!-- Prism -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>
<main class="container">
    <!-- Header Navigation -->
    <header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Posts</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Tags</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

    </header>

    <!-- Hero Header -->
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <div class="row">
                <h1 class="display-4 fst-italic">Ido Mizrachi</h1>
            </div>
        </div>
        <div class="row">
            <h2>iOS Developer</h2>
        </div>
    </div>
    </div>


</main>

</body>
</html>
